DATABASE_URL=postgresql://postgres:postgres@localhost:5432/identity_service
PORT=3000
APP_URL=http://localhost:3000

REDIS_HOST=redis.railway.internal
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
REDIS_URL=redis://localhost:6379
JWT_SECRET=your-secret-key

# Brevo Configuration
BREVO_API_KEY=xkeysib-your_brevo_api_key_here
BREVO_FROM_EMAIL=noreply@example.com

