DATABASE_URL=postgresql://postgres:postgres@localhost:5432/identity_service
PORT=3000
APP_URL=http://localhost:3000

REDIS_HOST=redis.railway.internal
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
REDIS_URL=redis://localhost:6379
JWT_SECRET=your-secret-key

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=test@test.com
SMTP_PASS=xxxx xxxx xxxx xxxx

